:host {
  width: 100%;
}

.general-styles {
  //width: applied through TS;
  background-color: #ffffff;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1000;

  .inner-container {
    width: 100%;
    max-width: 1800px;
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .menu-section{
      width: 100%;
      max-width: 1800px;
      position: relative;

      .primary-menu-container,
      .secondary-menu-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }

      .primary-menu-container {
        height: 80px;
        flex-wrap: nowrap;
        justify-content: center;

        .guide-logo-container {
          width: 100%;

          img {
            width: 150px;
            cursor: pointer;
          }
        }
      }

      .menu-section-separator {
        width: 100%;
        height: 1px;
        background-color: lightgrey;
        border-radius: 15px;
      }

      .secondary-menu-container {
        height: 60px;
        padding: .8rem 0;
        justify-content: space-between;
        align-items: center;

        h2 {
          font-weight: bold;
          margin: 0;
          padding: 0 .3rem;
        }

        button {
          width: auto;
          font-weight: bold;
          min-width: 120px;
          padding: 0 .3rem;
          text-transform: uppercase;
          display: flex;
          align-items: center;

          img {
            width: 20px;
            margin-bottom: -.25rem;
            margin-left: .3rem;

            @media(max-width: 380px) {
              display: none;
            }
          }
        }
      }
    }
  }

  * {
    font-size: 14px;
    font-family: 'OpenSans', sans-serif;
    color: #1a1a1a;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
}

.desktop-styles {
}

.mobile-styles {
}
