<header #headerRef [ngClass]="!isMobile ? 'desktop-styles' : 'mobile-styles'" class="general-styles">
  <div class="inner-container">
    <section class="menu-section">
      <div class="primary-menu-container">
        <div class="guide-logo-container">
          <img
                  src="/assets/icons/guide-logo-header.png"
                  alt="Guide logo"
          />
        </div>
      </div>

      <div class="menu-section-separator"></div>

      <div class="secondary-menu-container">
        <h2>Web - Variação do Ativo</h2>

        <button
          mat-button
          (click)="handleChartSubjectEmition()"
        >
          Exibir Gráfico
          <img src="/assets/icons/chart-line-icon.png">
        </button>
      </div>
    </section>
  </div>
</header>
